@import '../../assets/variables.scss';

.aboutMePageContainer {
    margin-left: 160px;

    .mainProfilePicture {
        height: 72vh;
        width: 52%;
        display: inline-block;
        background-image: url('../../assets/images/IMG_0491.JPG');
        max-width:100%;
        background-size: cover;
        background-repeat: no-repeat;
    }

    .personalBlurb {
        height: 72vh;
        width: 48%;
        float: right;
        padding: 5%;

        .name {
            color: $primary-text-color;
            font-size: 48px;
            width: 100%;
            float: center;
            border-bottom: $secondary-color solid 2px;
            margin-top: 30px;
        }

        .currentRole {
            font-size: 14px;
            color: $sub-title-color;
            margin-top: 10px;
        }

        .aboutMePara1 {
            margin-top: 30px;
            color: $primary-text-color;
            font-size: 14px;
            font-family: $text-font;
            font-weight: $text-weight;
            overflow: hidden;
        }

        .aboutMePara2 {
            margin-top: 30px;
            color: $primary-text-color;
            font-size: 14px;
            font-family: $text-font;
            font-weight: $text-weight;
            overflow: hidden;
        }

        .downloadCVButton {
            background-color: $secondary-color;
            border: none;
            color: white;
            padding: 15px 32px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
            margin-top: 40px;
            cursor: pointer;
        }
    }

    .introductorySection {
        height: 1000px;
        width: 100%;
        padding: 5%;
        border: green solid 1px;

        .servicesSectionTitle {
            font-size: 24px;
            width: 170px;
            border-bottom: $secondary-color solid 2px;
        }

    }
    
}


@media (max-width: 1024px) {

    .aboutMePageContainer {
        margin-left: 0px;
    
        .mainProfilePicture {
            height: 40vh;
            width: 100%;
            background-image: url('../../assets/images/IMG_0491\ copy.JPG');
            background-size: cover;
            background-repeat: no-repeat;
            margin-top: 70px;
        }

        // .adjustedMarginProfilePicture {
        //     height: 40vh;
        //     width: 100%;
        //     background-image: url('../../assets/images/mobileImage.JPG');
        //     background-size: cover;
        //     background-repeat: no-repeat;
        //     margin-top: 70px;
        // }
    
        .personalBlurb {
            height: 100%;
            width: 48%;
            float: right;
            padding: 5%;
    
            .name {
                color: $primary-text-color;
                font-size: 48px;
                width: 100%;
                float: center;
                border-bottom: $secondary-color solid 2px;
                margin-top: 0px;
            }
    
            .currentRole {
                font-size: 14px;
                color: $sub-title-color;
                margin-top: 10px;
            }
    
            .aboutMePara1 {
                margin-top: 30px;
                color: $primary-text-color;
                font-size: 14px;
                font-family: $text-font;
                font-weight: $text-weight;
            }
    
            .aboutMePara2 {
                margin-top: 30px;
                color: $primary-text-color;
                font-size: 14px;
                font-family: $text-font;
                font-weight: $text-weight;
            }
    
            .downloadCVButton {
                background-color: $secondary-color;
                border: none;
                color: white;
                padding: 15px 32px;
                text-align: center;
                text-decoration: none;
                display: inline-block;
                font-size: 16px;
                margin-top: 30px;
                cursor: pointer;
            }
        }           
    
        .introductorySection {
            height: 1000px;
            width: 100%;
            padding: 5%;
            border: green solid 1px;
    
            .servicesSectionTitle {
                font-size: 24px;
                width: 170px;
                border-bottom: $secondary-color solid 2px;
            }
    
        }
        
    }

}

@media (max-width: 768px) {

    .aboutMePageContainer {
        margin-left: 0px;
    
        .mainProfilePicture {
            height: 40vh;
            width: 100%;
            background-image: url('../../assets/images/mobileImage.JPG');
            background-size: cover;
            background-repeat: no-repeat;
            margin-top: 70px;
        }

        // .adjustedMarginProfilePicture {
        //     height: 40vh;
        //     width: 100%;
        //     background-image: url('../../assets/images/mobileImage.JPG');
        //     background-size: cover;
        //     background-repeat: no-repeat;
        //     margin-top: 70px;
        // }
    
        .personalBlurb {
            height: 100%;
            width: 100%;
            padding: 5%;
    
            .name {
                color: $primary-text-color;
                font-size: 48px;
                width: 100%;
                border-bottom: $secondary-color solid 2px;
                margin-top: 0px;
            }
    
            .currentRole {
                font-size: 14px;
                color: $sub-title-color;
                margin-top: 10px;
            }
    
            .aboutMePara1 {
                margin-top: 30px;
                color: $primary-text-color;
                font-size: 14px;
                font-family: $text-font;
                font-weight: $text-weight;
            }
    
            .aboutMePara2 {
                margin-top: 30px;
                color: $primary-text-color;
                font-size: 14px;
                font-family: $text-font;
                font-weight: $text-weight;
            }
    
            .downloadCVButton {
                background-color: $secondary-color;
                border: none;
                color: white;
                padding: 15px 32px;
                text-align: center;
                text-decoration: none;
                display: inline-block;
                font-size: 16px;
                margin-top: 30px;
                cursor: pointer;
            }
        }
    
        .introductorySection {
            height: 1000px;
            width: 100%;
            padding: 5%;
            border: green solid 1px;
    
            .servicesSectionTitle {
                font-size: 24px;
                width: 170px;
                border-bottom: $secondary-color solid 2px;
            }
    
        }
        
    }

}


@media (max-width: 480px) {
    .aboutMePageContainer {
        margin-left: 0px;
    
        .mainProfilePicture {
            height: 40vh;
            width: 100%;
            background-image: url('../../assets/images/mobileImage.JPG');
            background-size: cover;
            background-repeat: no-repeat;
            margin-top: 70px;
        }

        // .adjustedMarginProfilePicture {
        //     height: 40vh;
        //     width: 100%;
        //     background-image: url('../../assets/images/mobileImage.JPG');
        //     background-size: cover;
        //     background-repeat: no-repeat;
        //     margin-top: 70px;
        // }

        .personalBlurb {
            height: 100%;
            width: 100%;
            padding: 5%;
    
            .name {
                color: $primary-text-color;
                font-size: 48px;
                width: 100%;
                border-bottom: $secondary-color solid 2px;
            }
    
            .currentRole {
                font-size: 14px;
                color: $sub-title-color;
                margin-top: 10px;
            }
    
            .aboutMePara1 {
                margin-top: 30px;
                color: $primary-text-color;
                font-size: 14px;
                font-family: $text-font;
                font-weight: $text-weight;
            }
    
            .aboutMePara2 {
                margin-top: 30px;
                color: $primary-text-color;
                font-size: 14px;
                font-family: $text-font;
                font-weight: $text-weight;
            }
    
            .downloadCVButton {
                background-color: $secondary-color;
                border: none;
                color: white;
                padding: 15px 32px;
                text-align: center;
                text-decoration: none;
                display: inline-block;
                font-size: 16px;
                margin-top: 30px;
                cursor: pointer;
            }
        }
    
        .introductorySection {
            height: 1000px;
            width: 100%;
            padding: 5%;
            border: green solid 1px;
    
            .servicesSectionTitle {
                font-size: 24px;
                width: 170px;
                border-bottom: $secondary-color solid 2px;
            }
    
        }
        
    }

}
