@import '../../assets/variables.scss';

.aboutMePageContainer {

    .mainProfilePicture {
        height: 85vh;
        width: 100%;
        display: inline-block;
        background-image: url('../../assets/images/agileBoardLarge.jpg');
        max-width:100%;
        background-size: cover;
        background-repeat: no-repeat;
    }

    .identityInfo {
        position: absolute;
        top: 20%;
        left: 10%;
        z-index: 1;

        .name {
            color: $primary-text-color;
            font-size: 43px;
            width: 80%;
            margin-left: 10px;
            border-bottom: $secondary-color solid 2px;
        }

        .currentRole {
            font-size: 14px;
            color: $sub-title-color;
            margin-top: 10px;
            margin-left: 10px;
        }
    }

    .personalBlurb {
        height: 72vh;
        width: 100%;
        padding: 5%;

        .sectionTitle{
            font-style: $heading-font;
            text-align: center;
            font-size: $heading-font-size;
            margin: auto;
            margin-bottom: 20px;
            width: 150px;
            border-bottom: $secondary-color solid 2px;
        }

        .profilePicture{
            background-image: url('../../assets/images/profilePictureReducedSize.jpg');
            border-radius: 50px;
            max-width: 100%;
            background-size: cover;
            background-repeat: no-repeat;
            height: 100px;
            width: 100px;
            margin: auto;
        }

        .aboutMePara1 {
            margin-top: 30px;
            text-align: center;
            color: $primary-text-color;
            font-size: 14px;
            font-family: $text-font;
            font-weight: $text-weight;
            overflow: hidden;
        }

        .aboutMePara2 {
            margin-top: 30px;
            color: $primary-text-color;
            font-size: 14px;
            text-align: center;
            font-family: $text-font;
            font-weight: $text-weight;
            overflow: hidden;
        }

        .buttonContainer {
            display: block;
            margin: auto;
            width: 200px;
            height: 50px;
            margin-top: 30px;

            .downloadCVButton {
                background-color: $secondary-color;
                margin: auto;
                color: white;
                text-decoration: none;
                font-size: 16px;
                cursor: pointer;
                height: 100%;
                width: 100%;
            }
        }

    }
}


@media (max-width: 1024px) {

    .aboutMePageContainer {

        .mainProfilePicture {
            height: 85vh;
            width: 100%;
            display: inline-block;
            background-image: url('../../assets/images/agileBoard.jpg');
            max-width:100%;
            background-size: cover;
            background-repeat: no-repeat;
        }

        .identityInfo {
            position: absolute;
            top: 20%;
            left: 10%;
            z-index: 1;

            .name {
                color: $primary-text-color;
                font-size: 43px;
                width: 80%;
                margin-left: 10px;
                border-bottom: $secondary-color solid 2px;
            }
    
            .currentRole {
                font-size: 14px;
                color: $sub-title-color;
                margin-top: 10px;
                margin-left: 10px;
            }
        }
    
        .personalBlurb {
            height: 72vh;
            width: 100%;
            padding: 5%;
    
            .sectionTitle{
                font-style: $heading-font;
                text-align: center;
                font-size: $heading-font-size;
                margin: auto;
                margin-bottom: 20px;
                width: 150px;
                border-bottom: $secondary-color solid 2px;
            }
    
            .profilePicture{
                background-image: url('../../assets/images/profilePictureReducedSize.jpg');
                border-radius: 50px;
                max-width: 100%;
                background-size: cover;
                background-repeat: no-repeat;
                height: 100px;
                width: 100px;
                margin: auto;
            }
    
            .aboutMePara1 {
                margin-top: 30px;
                text-align: center;
                color: $primary-text-color;
                font-size: 14px;
                font-family: $text-font;
                font-weight: $text-weight;
                overflow: hidden;
            }
    
            .aboutMePara2 {
                margin-top: 30px;
                color: $primary-text-color;
                font-size: 14px;
                text-align: center;
                font-family: $text-font;
                font-weight: $text-weight;
                overflow: hidden;
            }
    
            .buttonContainer {
                display: block;
                margin: auto;
                width: 200px;
                height: 50px;
                margin-top: 30px;
    
                .downloadCVButton {
                    background-color: $secondary-color;
                    margin: auto;
                    color: white;
                    text-decoration: none;
                    font-size: 16px;
                    cursor: pointer;
                    height: 100%;
                    width: 100%;
                }
            }
    
        }
    }
}

@media (max-width: 768px) {

    .aboutMePageContainer {
    
        .mainProfilePicture {
            height: 85vh;
            width: 100%;
            background-image: url('../../assets/images/agileBoard.jpg');
            background-size: cover;
            background-repeat: no-repeat;
            margin-top: 70px;
        }

        .identityInfo {
            position: absolute;
            top: 20%;
            left: 10%;
            z-index: 1;

            .name {
                color: $primary-text-color;
                font-size: 43px;
                width: 80%;
                margin-left: 10px;
                border-bottom: $secondary-color solid 2px;
            }
    
            .currentRole {
                font-size: 14px;
                color: $sub-title-color;
                margin-top: 10px;
                margin-left: 10px;
            }
        }

    
        .personalBlurb {
            height: 72vh;
            width: 100%;
            padding: 5%;
    
            .sectionTitle{
                font-style: $heading-font;
                text-align: center;
                font-size: $heading-font-size;
                margin: auto;
                margin-bottom: 20px;
                width: 150px;
                border-bottom: $secondary-color solid 2px;
            }
    
            .profilePicture{
                background-image: url('../../assets/images/profilePictureReducedSize.jpg');
                border-radius: 50px;
                max-width: 100%;
                background-size: cover;
                background-repeat: no-repeat;
                height: 100px;
                width: 100px;
                margin: auto;
            }
    
            .aboutMePara1 {
                margin-top: 30px;
                text-align: center;
                color: $primary-text-color;
                font-size: 14px;
                font-family: $text-font;
                font-weight: $text-weight;
                overflow: hidden;
            }
    
            .aboutMePara2 {
                margin-top: 30px;
                color: $primary-text-color;
                font-size: 14px;
                text-align: center;
                font-family: $text-font;
                font-weight: $text-weight;
                overflow: hidden;
            }
    
            .buttonContainer {
                display: block;
                margin: auto;
                width: 200px;
                height: 50px;
                margin-top: 30px;
    
                .downloadCVButton {
                    background-color: $secondary-color;
                    margin: auto;
                    color: white;
                    text-decoration: none;
                    font-size: 16px;
                    cursor: pointer;
                    height: 100%;
                    width: 100%;
                }
            }
    
        }
    }
}


@media (max-width: 480px) {

    .aboutMePageContainer {
        .mainProfilePicture {
            height: 85vh;
            width: 100%;
            background-image: url('../../assets/images/agileBoard.jpg');
            background-size: cover;
            background-repeat: no-repeat;
            margin-top: 70px;
        }

        .identityInfo {
            position: absolute;
            top: 20%;
            left: 10%;
            z-index: 1;

            .name {
                color: $primary-text-color;
                font-size: 43px;
                width: 80%;
                margin-left: 10px;
                border-bottom: $secondary-color solid 2px;
            }
    
            .currentRole {
                font-size: 14px;
                color: $sub-title-color;
                margin-top: 10px;
                margin-left: 10px;
            }
        }

        .personalBlurb {
            height: 72vh;
            width: 100%;
            padding: 5%;
    
            .sectionTitle{
                font-style: $heading-font;
                text-align: center;
                font-size: $heading-font-size;
                margin: auto;
                margin-bottom: 20px;
                width: 150px;
                border-bottom: $secondary-color solid 2px;
            }
    
            .profilePicture{
                background-image: url('../../assets/images/profilePictureReducedSize.jpg');
                border-radius: 50px;
                max-width: 100%;
                background-size: cover;
                background-repeat: no-repeat;
                height: 100px;
                width: 100px;
                margin: auto;
            }
    
            .aboutMePara1 {
                margin-top: 30px;
                text-align: center;
                color: $primary-text-color;
                font-size: 14px;
                font-family: $text-font;
                font-weight: $text-weight;
                overflow: hidden;
            }
    
            .aboutMePara2 {
                margin-top: 30px;
                color: $primary-text-color;
                font-size: 14px;
                text-align: center;
                font-family: $text-font;
                font-weight: $text-weight;
                overflow: hidden;
            }
    
            .buttonContainer {
                display: block;
                margin: auto;
                width: 200px;
                height: 50px;
                margin-top: 30px;
    
                .downloadCVButton {
                    background-color: $secondary-color;
                    margin: auto;
                    color: white;
                    text-decoration: none;
                    font-size: 16px;
                    cursor: pointer;
                    height: 100%;
                    width: 100%;
                }
            }
        }
    }
}
