@import '../../assets/variables.scss';

.dropdown {
    width: 100vw;
    height: 50px;
    background-color: white;
    margin-top: 70px;
    box-shadow: $uniform-box-shadow;

    .allLinks {
        list-style: none;
        text-align: center;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }

    .allLinks li {
        padding: 15px;
        display: inline-block;
    }


}