@import '../../assets/variables.scss';

.navigationBar {
    border-right: $primary-color solid 15px;
    width: 160px;
    height: 100vh;
    display: flex;
    position: fixed;
    overflow: auto;
    flex-direction: column;

    .profileSection {
        height: 27vh;
        width: 100%;

        .picture {
            height: 80px;
            width: 80px;
            background-image: url('../../assets/images/IMG_0491.JPG');
            background-size: cover;
            margin: auto;
            margin-top: 35px;
        }
        .name {
            text-align: center;
            margin: 20px 20px 0px 20px;
            color: $primary-text-color;
        }
    }

    .navigationLinks {
        height: 35%;

        .navigationItem {
            border: $primary-color solid 1px;
            height: 20%;
            text-align: center;
            padding-top: 10%;
            font-size: 14px;
        }
        .navigationItem:hover {
            border-right: $secondary-color solid 3px;
            background-color: $primary-color;
        }
    }

    .socialLinks {
        border: red solid 1px;
        height: 10%;
    }
}